<div id="copyright">
  <div class="container">
      <div id="social" class="row col-md-12">
      	<p><a target="_blank" href="http://twitter.com/verosadvisors">Twitter</a> | <a target="_blank" href="http://youtube.com/verosadvisors">Youtube</a> | <a target="_blank" href="http://www.linkedin.com/company/veros-advisors?trk=hb_tab_compy_id_3009201">Linked In</a></p>
      </div>  <!-- /social -->
      <div id="rights" class="row col-md-12">
		<p>Designed, built and maintained by <a target="_blank" href="https://github.com/verosadvisors/verosadvisors.github.io"><b>Veros Advisors.</b></a>  Last update 04-30-2015.  © 2015 MicroDepth, LLC d.b.a Veros Advisors. All Rights Reserved.</p>
	  </div> <!-- /social -->
  </div> <!-- /container -->
</div> <!-- /copyright -->

