<div id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-md-3">
		  <div class="footer-header">
		    <h6>&copy; 2013 Veros Advisors</h6>
		  </div>
	      <p>
	      Veros Advisors is an innovation consultancy.
	      We help organizations develop the insight, strategy and capability needed to create and sustain a competitive advantage.
	      </p>
	    </div> <!-- /grid-3 -->
		<div class="col-md-3">
		  <div class="footer-header">
		    <h6>Contact</h6>
		  </div>
		  <p>Veros Advisors<br/>61 W. Eagle Road<br/>Havertown, PA 19083</p>
		  <p>Phone: +1.610.613.5681</p>
		  <p>Email: <a href="mailto:fpulcini@verosadvisors.com">fpulcini@verosadvisors.com</a></p>
	    </div> <!-- /col-4 -->
	    <div class="col-md-6">
		  <div class="footer-header">
		 	<h6>Recent News</h6>
		  </div>
          <a class="twitter-timeline" href="https://twitter.com/VerosAdvisors" data-widget-id="311593561877520385">Tweets by @VerosAdvisors</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!-- /col-4 -->
	  </div> <!-- /row -->
    </div> <!-- /footer-wrapper -->
  </div> <!-- /container -->
</div> <!-- /footer -->
