<head>
<!--
 * Veros Advisors v7.0.0
 * Project Start Date: 09/01/2013
 * Latest Change: 01/22/2014
 * Copyright 2014 Veros Advisors, LLC
 *
 * https://github.com/verosadvisors/verosadvisors.github.io
 *
================================================== -->

	<meta charset="utf-8">
	<title>Veros Advisors | Strategy and Innovation Consulting | {{ page.title }}</title>
	<meta name="ROBOTS" content="NOODP">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="keywords" content="Management Consulting, Innovation Consulting, Strategy Consulting, Healthcare Consulting, Pharmaceutical Consulting, Market Research, Marketing Research, Insight Management, Enterprise Collaboration, Idea Management, Innovation Process Management, Knowledge Management, Design Thinking, Philadelphia" >
	<meta name="description" content="Veros Advisors is an innovation consultancy. We help organizations develop the insight, strategy and capability needed to create and sustain a competitive advantage." />
	<meta name="author" content="Veros Advisors, Basecamp Insights, MicroDepth, Matthew Fieger, Frank Pulcini, Tom Downing">

	<!-- Compiled CSS ================================================== -->
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/veros-advisors.css">

	<!-- Javascripts ================================================== -->
	<script src="{{ site.url }}/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="{{ site.url }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{ site.url }}/assets/js/nav-custom.js" type="text/javascript"></script>
	<!-- CSS Media Queries for IE 6-8 -->
	<!--[if IE]> <script src="{{ site.url }}/assets/js/respond.min.js" type="text/javascript"></script> <![endif]-->
	<!-- HTML5 Styling for IE 6-8 -->
	<!--[if lt IE 9]> <script src="{{ site.url }}/assets/js/html5shiv.js" type="text/javascript"></script> <![endif]-->
</head>