---
layout: default
---

<div class="entry">
  <div class="row">

    <h4>{{ page.title }}</h4>

    <p>
    {% for category in page.categories %}
      {% if category != "posts" %}
        <span class="label label-primary">{{ category }}</span>
      {% endif %}
    {% endfor %}

    {% for tag in page.tags %}
      <span class="label label-primary">{{ tag }}</span>
    {% endfor %}
    </p>

    <p class="meta">{{ page.date | date_to_string }}</p>

    <div class="post">
    {{ content }}
    </div>


  </div><!-- /row-fluid -->
</div><!-- /entry -->